body {
    background-image:url('../public/rfbg.jpeg');
    background-size:cover ;     /* Makes the image cover the entire viewport */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment:fixed; /* Keeps the image fixed when scrolling */
  }